.general-header{
    height: 140px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.logo-top{
    height: 80px;
    width: auto;
}

.main{
        &-logo{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        &-menu{
            display: flex;
            flex-direction: row;
            justify-content: left;
            margin-left: 120px;
        } 
        
        &-options{
            display: flex;
            flex-direction: row;
            justify-content: right;
            margin-right: 120px;
            align-items: center;
        }
    }
