<app-header-top></app-header-top>

<div class="general-header">
    <app-header-menu class="main-menu">

    </app-header-menu>

    <div class="main-logo">
        <img class="logo-top" 
        src="/assets/imgs/logoTop_blackFly.svg" 
        alt="logoTop_blackFly">
    </div>
    
    <div class="main-options">
        <app-social-media>

        </app-social-media>

        <app-cart>

        </app-cart>
    </div>
    

</div>
