<div class="container">
    <div class="social">
        <img class="social-image" src="../../assets/imgs/instagram.jpg" alt="instagram">
        <div class="social-text">
            <div class="social-noticias">PARA MÁS NOTICIAS Y OFERTAS</div>
            <div class="social-siguenos">#siguenos_en_redes</div>
            <div class="social-encuentranos">Encuéntranos en instagram y facebook como</div>
            <div class="social-media"><app-social-media></app-social-media></div>
            <div class="social-contacto">@BlackFlyGear</div>
        </div>
        

    </div>
    <div class="direction">
        <img class="direction-logo" src="../../assets/imgs/logo_blackFly_bottom.svg" alt="instagram">
        <div class="direction-texts">
            <div>
                <img class="direction-pin" src="https://img.icons8.com/external-kmg-design-glyph-kmg-design/32/000000/external-pin-maps-navigation-kmg-design-glyph-kmg-design-1.png"/>
            </div>
            
            <div class="direction-row">
                Juárez 209 Pte. Col Centro C.P. 81200 Los Mochis, Sinaloa, Méx.
            </div>
            <div class="direction-row">
                contacto@blackfly.mx
            </div>
            <div class="direction-row">
                6681340530
            </div>
            <div class="social-media direction-media"><app-social-media></app-social-media></div>
        </div>
    </div>
    <div class="contact">
        <div class="contact-left-text">
            Copyright © 2021 Black Fly. Todos los derechos reservados.
        </div>
        <div class="contact-right">
            <div class="contact-right-text">
                INICIO
            </div>
            <div class="contact-right-text">
                SHOP
            </div>
            <div class="contact-right-text">
                BLOG
            </div>
            <div class="contact-right-text">
                OFERTAS
            </div>
            <div class="contact-right-text">
                CONTÁCTO
            </div>
        </div>
    </div>
</div>
