.container{
    margin-top: 150px;
    background-color:#2A2C31;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 750px;

    display: grid;
    grid-template-rows: 280px 1fr 50px;
}
.social{
    height: 100%;
    width: 100%;
    
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

     &-image{
            min-height: 280px;
            position: absolute;
            opacity: 0.5;
            width: 100%;
            height: auto;
            display: block;
        }
    &-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 50px;
    }

    &-noticias{
        font-size: 12px;
        margin-bottom: 10px;
        font-family:Arial, Helvetica, sans-serif;
        color: white;
    }
    &-siguenos{
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #BCFDE8;
    }
    &-encuentranos{
        margin-bottom: 8px;
        font-size: 12px;
        color: white;
    }
    &-media{
        transform: scale(0.75);
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    &-contacto{
        font-weight: 600;
        font-size: 18px;
        font-family:Arial, Helvetica, sans-serif;
        color: #07AD76;
    }


}
.direction{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    background-color: #2A2C31;
    grid-column: 1 ;
    grid-row: 2;

    &-logo{
        margin-top: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 180px;
    }
    &-texts{
        font-weight: 10;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        font-size: 12px;
        margin-bottom: 50px;
    }
    &-row{
        margin: 10px;
    }

    &-pin{
        height: 20px;
        width: 18px;
        margin-top: 40px;
        margin-bottom: 10px;
        filter: invert(48%) sepia(13%) saturate(7207%) hue-rotate(130deg) brightness(95%) contrast(80%);
        color: #07AD76;
        fill: #07AD76;
    }
}
.contact{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-top: 1px solid #07AD76;
    background-color: #2A2C31;
    grid-column: 1 ;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;


    &-right{
        display: flex;
        flex-direction: row;
        text-align: right;
        align-items: center;
        justify-content: end;
        margin-right: 250px;

        &-text{
            color: #07AD76;
            font-size: 9px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 15px;
        }
    }
    &-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:left;
        

        &-text{
            color: #07AD76;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 250px; 
        }
    }
}



