.icon{
    fill: #07AD76;
    padding-right: 7px;
    padding-left: 7px;
    height: 20px;
    width: auto;
    justify-items: center;
}

.icon:hover{
    // fill="#B4F2DE"
    fill: #B4F2DE;           
}

.order{
    display: flex;
   align-items: center;
}

