<div class="canvas">
    <div class="picture">
        <img [src]="imgPath" alt="">
    </div>
    <div class="base">
        <div class="base-subtitle">
            Full Metal AEG Rigle
        </div>
        <div class="base-title">
            Krytac Trident PDW
        </div>
        <div class="base-buttom">
            <div class="base-buttom-price">
                $660.00
            </div>
            <div class="base-buttom-buttoms">
                <div class="base-buttom-buttoms-comprar">
                    Comprar
                </div>
                <div class="base-buttom-buttoms-basket">
                    <i nz-icon nzType="shopping" nzTheme="outline"></i>
                </div>
            </div>
        </div>
    </div>
</div>
