.canvas{
    display: grid;
    grid-template-rows: 1fr 90px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.picture{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-height: 200px;
}

.base{
    margin: 10px;
    display: grid;
    grid-template-rows: 25PX 1fr 1fr;

    &-subtitle{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        color: grey;
        font-size: 9px;
        font-family:Arial, Helvetica, sans-serif;
    }
    &-title{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
        color: black;
        font-size: 12px;
        font-weight: 600;
        font-family:Arial, Helvetica, sans-seri;
    }

    &-buttom{
        display: grid;
        grid-template-columns: 1fr 1fr;

        &-price{
            color: #07AD76;
            font-size: 12px;
            font-weight: 600;
            font-family:Arial, Helvetica, sans-seri;
        }

        &-buttoms{
            display: grid;
            grid-template-columns: 1fr 20%;

            &-comprar{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 8px;
                text-align: center;
                color: #07AD76;
                transform: translateX(10px);
                background-color: white;
                border: 1px solid rgb(210, 210, 210);
                border-radius: 5px;
                height: 25px;
                width: 60px;            

            }
            &-basket{
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: #07AD76;
                border-radius: 5px;
                height: 25px;
                width: 25px;

            }
        }
    }
    
}