<div >
    <div class="notes">
        <div class="left">
            <div>
                Ofertas de temporada de verano hasta el 20% usando el código
            </div>
            <div class="codigo">
                "BLACKFLY20"
            </div>
        </div>
        <div class="right">
            <div class="iconos"><i nz-icon nzType="mobile" nzTheme="outline"></i></div>
            <div class="change-color">(668) 11130658</div>
            <div class="iconos"><i nz-icon nzType="mail" nzTheme="outline"></i></div>
            <div class="change-color">ventas@blackfly.com.mx</div>
        </div>      
    </div>
    <div class="line">

    </div>
</div>
