.notes{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    color: rgb(204, 204, 204);
    height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 120px;

}
.right{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 120px;
}

.line{
    background-color: rgb(128, 128, 128);
    height: 1px;
    width: 100%;
}
.codigo{
    margin-left: 5px;
    color:#07AD76;
}
.iconos{
    margin-left: 20px;
    margin-right: 5px;
    color:#07AD76;
}

.change-color:hover{
    color:#07AD76;
}