<div class="container">
    <div class="title">
        <div class="title-text">
            #últimos_productos
        </div>
        <div class="title-line">
            
        </div>
    </div>
    <div class="canvas">
        <div class="target" *ngFor="let x of products"><app-product-card [imgPath]="x"></app-product-card></div>
    </div>
    <div>
        <button class="products-button" nz-button nzType="primary" nzShape="round">
            IR A PRODUCTOS
          </button>
    </div>
</div>
