.container{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: 800px;

    display: grid;
    grid-template-rows:100px 1fr 200px;
}

.title{
    display: grid;
    grid-template-columns:25% 75%;
    margin-top: auto;
    margin-bottom: auto;
    
    &-text{
        display: block;
        font-weight: 600;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: #07AD76;
    }

    &-line{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
        border-top: 2px solid #07AD76;
        margin-left: 100px;
    }
}

.products-button{
    margin-top: 80px;
    margin-bottom: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    font-weight: 600;
    font-size: 10px;
    background-color: white;
    border-color: #07AD76;
    color: #07AD76;
    width: 160px;
}

.canvas{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.target{

}

.target:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }


