.gallery-container{
    padding: 30px;
    background-color: #2a2c31;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    .image-container{
        width: 100%;
        min-height: 550px;
        position: relative;
        
        .image{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
         
        .left-button{
            position: absolute;
            z-index: 3;
            font-size: 50px;
            color: #787878;
            top: 50%;
            margin-left: 10px;
            transform: translateY(-50%);
            &:hover{
                color: #098e62;
            }
        }
         
        .right-button{
            position: absolute;
            z-index: 3;
            font-size: 50px;
            color: #787878;
            top: 50%;
            right: 0;
            margin-right: 10px;
            transform: translateY(-50%);
            &:hover{
                color: #098e62;;
            }
        }
        
        .image-info{
            position: absolute;
            top: 180px;
            left: 100px;
            z-index: 2;
            .first-row{
                display: flex;
                align-items: center;
                h4{
                    margin: 0;
                    margin-left: 10px;
                    color: white;
                }
            }
            h1{
                color: white;
                font-size: 40px;
            }
        }
    }

    .info-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 30px;
        .info-box{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .icon{
                font-size: 50px;
                color: #098e62;
                margin-bottom: 20px;
            }
        }
        .border{
            border-right: 2px solid #098e62;
            border-left: 2px solid #098e62;
        }
    }
}

p {
    color: white;
}

.button{
    background: #098e62;
    border-color: #098e62;
    font-size: 12px;
}

.dicon{
    height: 80px;
}