<div class="gallery-container">
    <div class="image-container">
        <i class="left-button" nz-icon nzType="left" nzTheme="outline" (click)="onLeftClick()"></i>
        <img [src]="carouselInfo[selectedSlideIndex]" alt="" class="image" draggable="false">
        <div class="right-container">
            <i class="right-button" nz-icon nzType="right" nzTheme="outline" (click)="onRightClick()"></i>
        </div>
        
        <div class="image-info">
            <div class="first-row">
                <button nz-button nzType="primary" class="button" style="width: 100px; height: 30px;">PROMOCIÓN</button>
                <h4>En la compra de tu réplica</h4>
            </div>
            <h1>FLETE POR DHL A $200</h1>
            <button nz-button nzType="primary" nzShape="round" class="button" style="height: 40px; width: 125px;">
                APROVECHA
              </button>
        </div>
    </div>

    <div class="info-container">
        <div class="info-box">
            <img class="dicon" src = "../../assets/imgs/envios.svg" alt="Envios"/>
            <p>Envíos rápidos y seguros a todo el país</p>
        </div>

        <div class="info-box border">
            <img class="dicon" src = "../../assets/imgs/servicio.svg" alt="Envios"/>
            <p>Atención al cliente de primera</p>
        </div>
        
        <div class="info-box">
            <img class="dicon" src = "../../assets/imgs/precios.svg" alt="Envios"/>
            <p>Excelentes ofertas y promociones</p>
        </div>
    </div>
</div>