<div class="container">
    

    <div class="products">
        <div class="products-categories">
            <h3>CATEGORÍAS</h3>
            <div class="products-title">
                <h4 class="products-title-text">Airsoft Guns</h4>
                <h4 class="products-title-number">35</h4>
            </div> 
            
            <div class="list">
                <li>Spring Pistol</li>
                <li>Gas Pistol</li>
                <li>Electric Pistol</li>
                <li>Spring Rifles</li> 
                <li>Gas Rifles</li>
                <li>Electric Rifles</li>
            </div>
            <div class="products-title">
                <h4 class="products-title-text">BB´s</h4>
                <h4 class="products-title-number">45</h4>
            </div>
            <div class="list">
                <li>.28 grs</li>
                <li>.12-.15 grs</li>
                <li>.20 grs</li>
                <li>.25 grs</li> 
                <li>.30-.36 grs</li>
                <li>.40 grs</li>
                <li>Bb´s biodegradables</li>
            </div>
            <div class="products-title">
                <h4 class="products-title-text">GearTáctico</h4>
                <h4 class="products-title-number">14</h4>
            </div>
            <div class="list">
                <li>Chalecos</li>
                <li>Cascos</li>
                <li>Protectores</li>
                <li>Fundas</li>
                <li>Pouches</li>
                <li>Cinturones</li>
                <li>Rags</li>
                <li>Estuches</li>
                <li>Parches</li>
                <li>Resortes</li>
            </div>

            <div class="products-title">
                <h4 class="products-title-text">Accesorios</h4>
                <h4 class="products-title-number">4</h4>
            </div>
            
            <div class="list">
                <li>Speedloaders</li>
                <li>Mags</li>
                <li>Bipods</li>
                <li>Baterías</li>
                <li>Cargadores</li>
                <li>Grips</li>
                <li>Extensiones</li>
                <li>Barriles</li>
                <li>Green Gas & Co2</li>
  
            </div>
        </div>
        <div class="products-canvas">
            <div *ngFor="let x of products" class="target" ><app-product-card [imgPath]="x"></app-product-card></div>
        </div>
    </div>

    <div class="pages">
        <nz-pagination class="pages-pag" [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>       
    </div>

</div>
