.container{
    padding: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: 1500px;
    display: grid;
    grid-template-rows: 1fr 200px;
    margin-bottom: 20px;
}

.list{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-left: 10px;
}

.products{
    display: grid;
    grid-template-columns: 270px 1fr;

    &-categories{
        padding: 15px;
        background-color: #F7F7F7;
        height: 750px;
    }
    &-canvas{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    &-title{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;

        &-text{
            font-size: 12px;
            color: #07AD76;
        }
        &-number{
            margin-left: auto;
            font-size: 12px;
            color: black;
        }
    }
}

.pages{
    margin: auto;
    &-pag{
        ::ng-deep {
            .ant-pagination-item{
                background-color: none !important;
                color: black !important;
                border-radius: 5px;
                border-color: none;
            }
            a{
                color: black;
            }
            .ant-pagination-item-active{
                background-color: #07AD76 !important;
                border-color: none;
                color: none;
            }
        }
    }
}

