<div class="box">
    <svg class="icon"
        viewBox="0 0 24 24">
        <polygon points="2.5 19 2.5 8 4 6.5 20 6.5 21.5 8 21.5 19 20 20.5 4 20.5 2.5 19" 
        fill="none" 
        
        stroke-miterlimit="10"/>
        <polyline points="16 6.5 16 4.5 15 3.5 9 3.5 8 4.5 8 6.5" 
        fill="none" 
        stroke-miterlimit="10"/>
    </svg>
    <div class="cart-number">
        0
    </div>
</div>
