.box{
    margin-left: 10px;
    color: white;
    width: 65px;
    height: 30px;
    background-color: #07AD76;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    border-radius: 2px;
    align-items: center;
}

.cart-number{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-left: white 2px solid;
    padding-left: 10px;
}

.cart-divisor{
    align-self: center;
    font-size: 20px;
    margin-left: 40%;
}

.basket-icon{
    size: 20px;

}

.icon{
    margin: 20%;
    stroke: white; 
    fill: white;
    padding-right: 15px;
    height: 20px;
    width: auto;
}