.container{
    transform: translateY(-75px);
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: 510px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    color: #444;

}

.green-box{
    background-color: #098e62;
    margin-top: 100px;
    margin-bottom: 170px;  
    width: 100%;
    height: 360px;
    position: relative;
    .background {
        opacity: .30;
        background-size: 45% 100%;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
}

.box{
    background-color: #444;
    color: #fff;
    font-size: 150%;
    :hover .image-text {
        p {
            display: flex;
        }
    }
}
.a{
    grid-column: 1 ;
    grid-row: 1 / 3;
}
.b{
    grid-column: 2 / 4 ;
    grid-row: 1;
}
.c{
    grid-column: 2;
    grid-row: 2;    
}
.d{
    grid-column: 3;
    grid-row: 2;    
}

.image{
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.image-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
}

p {
    font-size: 14px;
    margin: 0;
    display: none;
}

h4 {
    margin: 0;
    color: #098e62;
}

@keyframes example {
    0%   {display: none;}
    100% {display: flex;}
  }