<div class="green-box">
    
    <div class="background" style="background-image: url('../../assets/imgs/topBg.png')"></div>
    <div class="container">
        <div class="box a">
            <div class="image-container">
                <img class="image" src="../../assets/imgs/replicas.jpg" alt="Mountain">
                <div class="image-text">
                    <h4>#gear</h4>
                    <p>Laborum duis labore proident ullamco velit ea dolor est elit aliqua officia tempor est id.</p>
                </div>
            </div>
        </div>
        <div class="box b">
            <div class="image-container">
                <img class="image" src="../../assets/imgs/gear.jpg" alt="Mountain">
                 <div class="image-text">
                    <h4>#gear_</h4>
                    <p>Laborum duis labore proident ullamco velit ea dolor est elit aliqua officia tempor est id.</p>
                </div> 
            </div>
            
        </div>
        <div class="box c">
            <div class="image-container">
                <img class="image" src="../../assets/imgs/upgrades.jpg" alt="Mountain">
                <div class="image-text">
                    <h4>#gear</h4>
                    <p>Laborum duis labore proident ullamco velit ea dolor est elit aliqua officia tempor est id.</p>
                </div>
            </div>
        </div>
        <div class="box d">
            <div class="image-container">
                <img class="image" src="../../assets/imgs/accesorios.jpg" alt="Mountain">
                <div class="image-text">
                    <h4>#gear</h4>
                    <p>Laborum duis labore proident ullamco velit ea dolor est elit aliqua officia tempor est id.</p>
                </div>
            </div>
        </div>
    </div>
</div>
