.display{
    padding-top: 120px;
    background-color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-box{
    margin-right: 200px;
}

.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #07AD76;
}

.logo-fly{
    height: 480px;
    width: auto;
}

.download-button{
    font-size: 12px;
    background-color: white;
    border-color: #07AD76;
    color: #07AD76;
    width: 125px;
}

.download-button:hover{
    animation-name: color-button;
    background-color:#07AD76;
    border-color: #07AD76;
    color: white;
}