<div class="display">
    <div>
        <div class="text-box">
            <h1 class="title">
              #BlackFly_airfost/gear
            </h1>
            <p>
                Proin at dapibus sem, ut malesuada quam. In sagittis, velit et cursus placerat, tortor sem euismod mi, vitae pretium mauris est vel mi. Etiam at mollis arcu. Ut placerat viverra rhoncus. Doñee tempus, erat non egestas pretium, urna diam fermentum elit, at fermentum ante sapien quis massa.
            </p>
            <p>
                Integer at nisl sagittis, venenatis urna et, posuere velit. Suspendisse ac ex in eros cursus mollis. Sed quis faucibus ante. Cras ac orci tellus. Etiam blandit placerat leo sed pretium.
            </p>
            <button class="download-button" nz-button nzType="primary" nzShape="round">
                Conoce más
                <i class="icon-button" nz-icon nzType="radar-chart"></i>    
              </button>
        </div>
        <div>
            
        </div>
    </div>
    <div>
        <img class="logo-fly" 
        src="/assets/imgs/quienesSomos.png" 
        alt="Fly sticker">
    </div>
</div>