.header{
    &-photo{
        width: 75%;
        min-width: 1040px;
    }

    &-subtitle{
        color: #07AD76;
        font-size: 18px;

    } 
    &-title{
        font-weight: 600;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        font-size: 60px;
        line-height: 60px;
    }
       
}

.main-container{
    width: 100%;
    position: relative;   
}

.line{
    background-color: #131513;
    height: 600px;
    width: 100%;
    position: absolute;
}

.news{
    margin-top: 250px;
}