
<div class="line"></div>
<div class="main-container">
    
    <app-header class="header"></app-header>
    <div class="header-picture">
        <div style="display: flex;">
            <img class="header-photo" src="../../assets/imgs/productos.jpg">
            <div style="margin-top: 120px; transform: translateX(-20%);">
                <div class="header-subtitle"> Bienvenido a nuestra </div>
                <div class="header-title">
                    Sección de Productos
                </div>
            </div>
        </div>
        <div style="display: flex; margin-top: 30px; justify-content: center; ">
            <div style="display: flex; width: 1050px;">
                <p style="margin-left: 10px; margin-right: 10px;">Inicio</p> /
                <p style="margin-left: 10px; margin-right: 10px;">Productos</p> /
                <p style="margin-left: 10px; margin-right: 10px;">Replica</p>
            </div>
        </div>
    </div>
</div>

<app-categories></app-categories>
<app-footer></app-footer>
