.header{
    z-index: 10;
}

.main-container{
    background-color: #131513;
    height: 700px;
    width: 100%;
    z-index: 0;
}

.background-picture {
    z-index: 5;
    background-image: url("/assets/imgs/topBg.png");
    width: 100%;
    height: 100%;
}

.news{
    margin-top: 250px;
}