<div class="main-container">
    <div class="background-picture">
        <app-header class="header"></app-header>
        <app-gallery class="header"></app-gallery>
    </div>
</div>
<div class="news">
    <app-news></app-news>
</div>
<app-info></app-info>
<app-new-products></app-new-products>
<app-footer></app-footer>
