.menu{
    &-grid{
        height: 140px;
        display: flex;
        flex-direction: row;
        // grid-template-rows: auto;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
    }

    &-text{
        padding-right: 30px;
        font-size: 10px;
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        .icon{
            margin-left: 2px;
            margin-top: 3px;
            font-size: 8px;
        }
    }

    &-text:hover{
        color: #07AD76;           
    }
}

.shop-text{
    display: flex;
    flex-direction: row;
}

.down-arrow{
    padding-left:5px;
    font-size: 10px;
    font-weight: 5px;
}