<div class="menu-grid">
    <div class="menu-text" (click)="onRouteClick('home')">INICIO</div>
    <div class="menu-text shop-text" (click)="onRouteClick('products')">SHOP
        <i nz-icon nzType="down" nzTheme="outline" class="icon"></i>
    </div>
    <div class="menu-text">BLOG</div>
    <div class="menu-text">OFERTAS</div>
    <div class="menu-text">CONTÁCTO</div>
</div>
